/* container inicio */

#inicio {
  width: 90%;
  min-height: 30em;
  margin: 5em auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#inicio .miniatura {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  order: 2;
}

#inicio .container-text {
  width: 50%;
}

#inicio h1 {
  color: rgb(21, 0, 116);
}

#inicio h3 {
  color: rgb(0, 0, 0);
}

/* tamaño de celula */

@media (max-width: 800px) {
  #inicio {
    padding: 1em;
    margin: 1em auto;
    flex-direction: column;
  }

  #inicio .miniatura {
    width: 200px;
    height: 200px;
    order: 0;
  }

  #inicio .container-text {
    width: 100%;
    height: auto;
    text-align: center;
  }
}
