/* container inicio */

#Creador {
  width: 90%;
  min-height: 30em;
  margin: 5em auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#Creador .photo {
  width: 300px;
  height: 300px;
  border-radius: 100px;
  order: 2;
}

#Creador .container-text {
  width: 50%;
}

#Creador h1 {
  color: rgb(21, 0, 116);
}

#Creador h3 {
  color: rgb(0, 0, 0);
}

/* tamaño de celula */

@media (max-width: 800px) {
  #Creador {
    padding: 1em;
    margin: 1em auto;
    flex-direction: column;
  }

  #Creador .photo {
    width: 200px;
    height: 200px;
    order: 0;
  }

  #Creador .container-text {
    width: 100%;
    height: auto;
    text-align: center;
  }
}
